/.vs
/Debug
/Release
/x64
/CtrlScaleDemo/CtrlScaleDemo.aps
/CtrlScaleDemo/Debug
/CtrlScaleDemo/Release
/CtrlScaleDemo/x64
/TestCtrlScale/Debug
/TestCtrlScale/Release
/TestCtrlScale/x64
/TestCtrlScale/TestCtrlScale.aps
